
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
            <h2>Welcome to the awesome AngularJS Projects App</h2>
                </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <input type="text" ng-model="model.username"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <input type="password" ng-model="model.password"/>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-xs-2">
                <button class="btn btn-primary" type="button" ng-click="login();" >Login</button>
            </div>
        </div>
    </div>
</div>